@model VegHouse.Models.Customers


@{
    var message = TempData["HataMesajLogin"];
    ViewData["Title"] = "Login";
 
     Layout = "~/Views/Shared/_Layout.cshtml";

}
    <main>

        <section class="login-area pt-100 pb-100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <div class="basic-login" >
                            <h3 class="text-center mb-60">Üye Girişi</h3>

                            <span class="text-danger"style="font-size: 25px">@message</span>
                            

                      <form asp-action="Login" >

                                
                                    <div class="form-group">
                                       <label asp-for="Email" class="control-label"> <span>E-Mail Adresi*</span></label>
                                       <input asp-for="Email" class="form-control" name="Email" placeholder="Mail Adresiniz..."/>
                                       <span asp-validation-for="Email" class="text-black"></span>
                                    </div>



                                                                       
                                    <div class="form-group">
                                       <label asp-for="Password" class="control-label"> <span>Şire*</span></label>
                                       <input asp-for="Password" class="form-control" type="password"  placeholder="Şifreniz..."/>
                                       <span asp-validation-for="Password" class="text-black"></span>
                                    </div>



                                  <input type="submit" value="Üye Girişi" class="btn btn-primary" />

                               @* <li><a class="os-btn os-btn-black w-100"  asp-controller="Customer" asp-action="Login">Üye Girişi </a></li>*@

                                <div class="or-divide"><span>veya</span></div>
                                @*<a href="register.html" class="os-btn os-btn-black w-100">Üye Ol</a>*@
                                <li><a class="os-btn os-btn-black w-100"  asp-controller="Customer" asp-action="Register">Üye Ol </a></li>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- login Area End-->
    </main>
