
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}  

<meta http-equiv="refresh" content="5;url=/" />

  <main>

      <br />
      <br />
        <section class="checkout-area pb-70">
            <div class="container">
                 <div class="row">
                    <div class="col-12">
                         <div class="row">
                            <div class="col-md-4 ml-center">
                            </div>
                                <div class="col-md-4 text-center">
                   
               
                                      <img height="200px"width="200px" src="~/tema1/img/payment/success-35.svg" alt="">  
                                      <br />
                                       <br />


                                    <h4>Sparişiniz başarıyla alınmıştır.</h4>
                                    <br />

                                     <h5>Ana Sayfaya yönlendiriliyorsunuz...</h5>
                                </div>


               <div class="col-md-4 ml-center">
                </div>


               </div>
               </div>
               </div>
            </div>
        </section>
   </main>
